body{

margin:0;

font-family:Arial;

background:black;

background-image:url("fondo.gif");

background-size:cover;

color:white;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.logo{

font-size:70px;

color:#b56cff;

text-shadow:0 0 25px #b56cff;

}

.login-container{

text-align:center;

}

.login-btn{

background:#5865F2;

padding:15px 35px;

font-size:18px;

border:none;

border-radius:10px;

color:white;

cursor:pointer;

}

.form-box{

background:rgba(0,0,0,0.8);

padding:40px;

border-radius:15px;

width:500px;

}

textarea{

width:100%;

height:80px;

border:none;

border-radius:8px;

margin-bottom:20px;

padding:10px;

}

button{

background:#b56cff;

border:none;

padding:15px;

width:100%;

border-radius:10px;

font-size:16px;

color:white;

cursor:pointer;

}

.user-box{

display:flex;

align-items:center;

gap:10px;

margin-bottom:20px;

}

.user-box img{

width:40px;

border-radius:50%;

}

.requisitos{

margin-bottom:25px;

}