body{

font-family:Arial;

background:url("fondo.gif");
background-size:cover;

display:flex;
justify-content:center;
align-items:center;

min-height:100vh;

color:white;

}

.container{

background:rgba(0,0,0,0.8);

padding:40px;

border-radius:15px;

width:520px;

box-shadow:0 0 60px purple;

}

h1{

text-align:center;
font-size:40px;

}

h2{

text-align:center;

}

ul{

margin-bottom:20px;

}

input,textarea{

width:100%;

padding:10px;

margin-top:10px;

border:none;

border-radius:6px;

background:#111;

color:white;

}

textarea{

height:80px;

}

button{

margin-top:20px;

width:100%;

padding:14px;

background:#7a2fff;

border:none;

border-radius:8px;

color:white;

font-size:16px;

cursor:pointer;

transition:0.3s;

}

button:hover{

background:#9a4dff;
transform:scale(1.05);

}