body{

margin:0;
font-family:Segoe UI;
background:black;
background-image:url("fondo.gif");
background-size:cover;

color:white;

}

.login-body{

display:flex;
align-items:center;
justify-content:center;
height:100vh;

}

.logo{

font-size:70px;
color:#b56cff;
text-shadow:0 0 25px #b56cff;

}

.login-box{

text-align:center;

}

button{

background:#5865F2;
border:none;
padding:15px 30px;
font-size:18px;
color:white;
border-radius:10px;
cursor:pointer;

}

.container{

max-width:800px;
margin:auto;
background:rgba(0,0,0,0.75);
padding:40px;
border-radius:20px;

}

textarea{

width:100%;
height:90px;
margin-bottom:5px;
border-radius:8px;
border:none;
padding:10px;
background:#111;
color:white;

}

.counter{

font-size:12px;
opacity:0.7;
float:right;
margin-bottom:20px;

}

button:hover{

transform:scale(1.05);

}

.progress{

height:6px;
background:#111;
margin-bottom:20px;
border-radius:10px;

}

#progress-bar{

height:6px;
width:0%;
background:#b56cff;

}
